<?xml version="1.0" encoding="utf-8"?>
<launch>  
	<!--urdf model-->
    <arg name="model" value="$(find common)/urdf/base.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="50.0" />
        <param name="use_tf_static" value="true" />
    </node>

    <!-- laser -->
    <node pkg="lslidar_n301_driver" type="lslidar_n301_driver_node" name="lslidar_n301_driver_node" output="screen" respawn="false">
        <param name="device_ip" value="192.168.10.17"/>
        <param name="udp_port" value="2368"/>
    </node>
    <node pkg="lslidar_n301_decoder" type="lslidar_n301_decoder_node" name="lslidar_n301_decoder_node" output="screen" respawn="false">
        <param name="child_frame_id" value="laser"/>                     
        <param name="angle_min" value="-90"/>                              
        <param name="angle_max" value="90"/>                               
        <param name="min_range" value="0.1"/>
        <param name="max_range" value="50.0"/>
        <param name="frequency" value="15.0"/>
        <param name="publish_point_cloud" value="false"/>
        <remap from="scan" to="scan"/>   
    </node>

    <!-- tcp communication -->
    <node name="tcp_comm" pkg="common" type="tcp_comm" output="screen">
      	<param name="port" type="int" value="24000"/>
      	<param name="ip" type="string" value="127.0.0.1"/>
      	<remap from="cmd_vel" to="cmd_vel"/>
    </node>

    <!-- sensors publish -->
    <!--node name="sonar_pub" pkg="common" type="sonar_pub" output="screen"/-->
    <node name="odometry_pub" pkg="common" type="odometry_pub" output="screen">
        <remap from="odom" to="odom_raw" />
    </node>

    <!-- pose ekf -->
  	<include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />

</launch>
